Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
workspace/
.CFUserTextEncoding
.DS_Store
.Trash/
.android/
.aws/
.azure/
.bash_history
.bash_sessions/
.cisco/
.config/
.cups/
.docker/daemon.json
.dotnet/
.gem/
.gitconfig
.m2/
.mysql_history
.node_repl_history
.npm/
.npmrc
.oracle_jre_usage/
.profile
.templateengine/
.tooling/
.viminfo
.vscode/
